@import "./common/colors.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lobster",sans-serif;
}
a{
    text-decoration: none;
}
body{
    background-color: $primary_color;
}
.container{
    margin: 0px 40px;

}